* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.contenido {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.mostrador {
    width: 100%;
    transition: .5s ease;
}

.mostrador .fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; /* Aumenta el espacio entre las filas */
}

.mostrador .fila .item {
    max-width: 240px; /* Ajustar el ancho máximo */
    padding: 20px; /* Reducir el padding */
    height: 350px; /* Ajustar la altura */
    text-align: center;
    margin: 0 10px; /* Ajustar el margen horizontal */
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Ajustar la transición */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Agregar una sombra para resaltar */
}

.mostrador .fila .item:hover {
    transform: translateY(-5px); /* Levantar ligeramente el elemento */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Ajustar la sombra */
    background-color: #f0f0f0; /* Cambiar el color de fondo al pasar el cursor */
}

.mostrador .fila .item img {
    width: 100%;
    margin-bottom: 20px; /* Reducir el margen inferior */
}

.mostrador .fila .item .info-item {
    opacity: 0;
    transition: opacity 0.3s ease; /* Ajustar la transición */
    margin-top: 20px; /* Espacio entre la descripción y el precio */
}

.mostrador .fila .item:hover .info-item {
    opacity: 1;
}

.mostrador .fila .item .info-item p,
.mostrador .fila .item .info-item .precio {
    color: #333; /* Color de las letras */
    font-size: 14px; /* Tamaño de la fuente */
    line-height: 1.4; /* Espaciado entre líneas */
}

.mostrador .fila .item .info-item .precio {
    font-weight: bold;
    color: #f85151; /* Color del precio */
}

.seleccion {
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 20px; /* Añadir padding */
    margin: 20px; /* Añadir margen */
}

.cerrar {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.info {
    padding: 20px;
}

.info img {
    display: block;
    margin: 0 auto 20px; /* Ajustar el margen */
    width: 80%;
}

.info h2 {
    color: #333; /* Color del título */
    margin-bottom: 10px;
}
